<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450933539142-772ard6hle10afpte7jlvcpbf6gph059.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450933539142-772ard6hle10afpte7jlvcpbf6gph059</string>
	<key>API_KEY</key>
	<string>AIzaSyBI4wZ2xuQ0mY-BTCDBjP5BPICFh8gPQzs</string>
	<key>GCM_SENDER_ID</key>
	<string>450933539142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunseapp.tunse</string>
	<key>PROJECT_ID</key>
	<string>tunsedev</string>
	<key>STORAGE_BUCKET</key>
	<string>tunsedev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450933539142:ios:90b479f27923282c2d6547</string>
	<key>DATABASE_URL</key>
	<string>https://tunsedev.firebaseio.com</string>
</dict>
</plist>